@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: "gilroy-bold";
  src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "gilroy-medium";
  src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
  font-family: "gilroy-normal";
  src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "konexyPersonal";
  src: url(./assets/fonts/KonexyPersonalUse.otf);
}
